.DS_Store
.python-version
raw_data/*
.env
*.egg-info
cycle_gan_results/models/*
*FF2S_prod/ml_logic/__pycache__/*
*.pyc
*.png
*.h5
*.jpg
preproc_data/*
training_outputs/models/*
training_outputs/predict_sketches/*
training_outputs/training_sketches/*
